.flex {
  display: flex;
}

.flex img {
  margin: 10px;
  width: 15%;
}

.contents {
  position: relative;
}

.contents img {
  width: 30%;
}

.text {
  position: absolute;
  top: 30px;
  left: 60px;
  color: white;
}

ul {
  list-style: none;
}

li::before {
  content: "♥️";
}